@import '../../styles.scss';

.certifications {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $accent;
    border-bottom: 1px solid $accent;
    padding: 5px 5px;
    .cert {
        img {
            margin-top: 3px;
            width: 100px;
            height: 100px;
        }
    }
}