@import '../../styles.scss';

.certifications {
    display: flex;
    justify-content: center;
    border-top: 1px solid $accent;
    border-bottom: 1px solid $accent;
    .cert {
        img {
            margin-top: 3px;
            width: 75px;
        }
    }
}