@import '../../styles.scss';
h2 {
    text-transform: uppercase;
    border-bottom: 2px solid $accent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.job-details {
    &:not(.last-for-employer) {
        border-bottom: 1px dashed grey;
    }
    h4 {
        color: $accent;
        &:not(.most-recent-employer) {
            border-top: 1px solid $accent;
            padding-top: 10px;
        }
    }
    h3, h4, h5 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin: 10px 0;
    }
    h4 {
        font-weight: 700;
        text-transform: uppercase;
    }
    ul {
        li {
            font-family: 'Open Sans', sans-serif;
        }
    }
    h5.techstack {
        color: $accent;
        font-size: 100%;
    }
}