@import '../../styles.scss';
h2 {
    text-transform: uppercase;
    border-bottom: 2px solid $accent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.job-details {
    &:not(:first-of-type) {
        border-top: 1px dashed #ccc;
    }
    h4 {
        color: $accent;
    }
    h3, h4, h5 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin: 10px 0;
    }
    h4 {
        font-weight: 700;
        text-transform: uppercase;
    }
    ul {
        li {
            font-family: 'Open Sans', sans-serif;
        }
    }
}