.container {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 4;
}

.cell {
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
    text-align: center;
    h4 {
        font-weight: normal;
        font-size: 120%;
    }
}