<main class="container">
  <header>
    <div>
      <h1>Richard Coupe</h1>
      <h3>Certified 
        <strong>Cloud</strong>
        &amp;
        <strong>DevOps Engineer</strong>,
        <strong>Solutions Architect</strong>
        &amp;
        <strong>Agile Coach</strong>
      </h3>
      <p>
        <span class="accent-color">@</span> {{email}}
        <span class="accent-color">
          <i class="fas fa-mobile-alt"></i>
        </span> +44 (0) 7460 700 782
        <span class="accent-color">
          <i class="fas fa-map-marker"></i>
        </span> South Wales
      </p>
    </div>
    <img src="assets/me.jpeg" />
  </header>
  <section class="main">
    <app-certifications></app-certifications>
    <h2>Profile</h2>
    <p>With a background comprising of software development Agile practice, I'm an IT professional with a significant
      skillset in both the technical and ways-of-working arena within the technology sphere.
      I'm passionate about the benefits of well-implemented technological solutions as well as the efficacy of an
      Agile mindset and its methodologies to the point of faintly irritating my wife in my efforts to apply them to
      household tasks.</p>
    <p>I greatly enjoy "playing" with technology and taking opportunities to both learn new things and increase my knowledge
      of existing areas of expertise. I live for "projects", whether they have a tangibly useful outcome or are simply a
      vehicle for my efforts at trying a new technology or process.</p>
    <p>Outside of my work (and play), I'm a father to three wonderful children and a husband to an extremely
      tolerant wife. We live in Caerphilly, Wales, and can often be found out and about on country walks, whiling away the
      hours in play parks or trying to settle the important arguments that take place between a 6 year old and his 4 year
      old sister with the background sound of a remarkably shouty toddler.</p>
    <app-experience></app-experience>
    <!-- <app-day></app-day> -->
  </section>
  <section class="side">
    <h3 class="quote">
      <em>"Make it work, then make it perfect."</em>
    </h3>

    <h2>Strengths</h2>
    <div class="strengths">
      <div *ngFor="let strength of strengths">
        {{strength}}
      </div>
    </div>

    <h2>Proud of</h2>
    <div class="proud-of-grid">
      <div *ngFor="let p of sourcesOfPride">
        <div class="icon">
          <i [class]="p.icon"></i>
        </div>
        <div class="text">
          <h5>{{p.title}}</h5>
          <p>&hellip; {{p.text}}</p>
        </div>
      </div>
    </div>

    <h2>Certifications</h2>
    <div class="certs">
      <ul>
        <li *ngFor="let cert of certs">{{cert}}</li>
      </ul>
    </div>
  </section>
</main>