<main class="container">
  <header>
    <div>
      <h1>Richard Coupe</h1>
      <h3>Certified Agile Professional</h3>
      <p>
        <span class="accent-color">@</span> rjcoupe@gmail.com
        <span class="accent-color"><i class="fas fa-mobile-alt"></i></span> +44 (0) 7460 700 782
        <span class="accent-color"><i class="fas fa-map-marker"></i></span> Caerphilly, Wales
      </p>
    </div>
    <img src="/assets/me.jpeg" />
  </header>
  <section class="main">
    <app-experience></app-experience>
    <app-day></app-day>
  </section>
  <section class="side">
    <h3 class="quote">
      <em>"Make it work, then make it perfect."</em>
    </h3>

    <h2>Strengths</h2>
    <div class="strengths">
      <div *ngFor="let strength of strengths">
        {{strength}}
      </div>
    </div>

    <h2>Proud of</h2>
    <div class="proud-of-grid">
      <div *ngFor="let p of sourcesOfPride">
        <div class="icon"><i [class]="p.icon"></i></div>
        <div class="text">
          <h5>{{p.title}}</h5>
          <p>&hellip; {{p.text}}</p>
        </div>
      </div>
    </div>
    
    <h2>Technologies</h2>
    <div class="technologies">
      <ul>
        <li *ngFor="let tech of technologies">{{tech}}</li>
      </ul>
    </div>
  </section>
</main>