.container {
    display: grid;
    grid-template-columns: 1fr 3fr;

    // LHS
    > :nth-child(odd) {
        border-right: 3px solid blue;
        text-align: right;

        h1 {
            margin: 0;
            transform: rotate(-90deg);
            transform-origin: bottom left;
            white-space: nowrap;
            &:nth-of-type(1) {
                color: #999;
            }
            &:nth-of-type(2) {
                color: #666;
            }
            &:nth-of-type(3) {
                color: #000;
            }
        }
    }

    // RHS
    > :nth-child(even) {
        text-align: left;
        margin: 0 10% 50px 20px;
        box-shadow: 2px 2px 2px gray;
        border-radius: 10px;
        padding: 20px;
        p {
            margin-top: 15px;
        }
    }
}